body {
	font-family: "Lucida Grande", verdana, sans-serif;
}

img {
	border: none;
}

#header {
	height: 90px;
	background: #FFF url('../images/cc-header-bg.png') bottom repeat-x;
}

#headerLogo {
	margin-top: 20px;
	margin-left: 10px;
}

#headerInfoBar {
	position: relative;
	padding: 1ex;
	padding-bottom: 2ex;
	color: #ffffff;
	background-color: #ffffff;
	font-size: 75%;
	font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif;
	border-bottom: 1px solid #d0d0d0;
}

#headerInfoBar a {
	text-decoration: none;
}

#headerInfoBar a:hover {
	text-decoration: underline;
}

#headerInfoBar a:visited {
	color: blue;
}

#headerLinks {
	margin-left: 1ex;
}

#headerLang {
	position: absolute;
	top: 1ex;
	right: 1ex;
}

#footer {
	background: url('../images/bg-std.png') repeat-x top left;
	clear: both;
	margin-top: 2em;
	color: #888;
	font-size: 0.9em;
	text-align: left;
}

#advancedSearch {
	margin-top: 1em;
}

#searchBox {
	margin: 1em;
}

.aboutDiv {
	text-align: justify;
	margin: 1em;
}

a.moreSearchOptions {
	font-size: x-small;
	text-decoration: none;
}

a.moreSearchOptions:hover {
	text-decoration: underline;
}

a.moreSearchOptions:visited {
	color: blue;
}
